* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Roboto';
}
a {
	color: hsl(210deg, 100%, 50%);
	text-decoration: none;
}
.container {
	min-height: calc(100vh - 128px);
	max-width: 640px;
	margin: 0 auto;
	padding: 64px 32px;
	box-shadow: 0 0 1em hsl(0deg, 0%, 90%);
}
.container .text {
	padding: 0.5em 0;
}
.container .text h1 {
	color: hsl(0deg, 0%, 20%);
}
.container .text h2,
.container main .text h3 {
	color: hsl(0deg, 0%, 40%);
}
.container .text p {
	padding: 0.5em 0;
	color: hsl(0deg, 0%, 60%);
	line-height: 2em;
}
.list-item {
	margin: 1em 0;
	padding: 1.5em 1em 2em 1em;
	box-shadow: 0 0 0.25em hsl(0deg, 0%, 90%);
	text-align: left;
	border-radius: 0.5em;
}
.list-item button {
    outline: none;
	cursor: pointer;
	overflow: hidden;
	padding: 0.75em 1.25em;
	font-size: 1em;
	font-weight: bold;
	background-color: hsl(210deg, 70%, 50%);
	border-style: none;
	border-radius: 0.5em;
	color: hsl(210deg, 75%, 95%);
    box-shadow: 0 0 0.25em hsl(210deg, 50%, 50%);
    margin-right: 0.5em;
}
.list-item button.button-2 {
	background-color: hsl(0deg, 0%, 95%);
	box-shadow: 0 0 0.25em hsl(0deg, 0%, 70%);
	color: hsl(210deg, 70%, 50%);
}
.list-item button:disabled {
	cursor: not-allowed;
	background-color: hsl(0deg, 0%, 95%);
	box-shadow: 0 0 0.25em hsl(0deg, 0%, 90%);
	color: hsl(0deg, 0%, 50%);
}
